.bgImage {
    background-image: url('../assets/tongariro-4328719_1280.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

.bgImage::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: -9 /*Moved one position above the -10 */
  }