p {
    font-size: 30px;
    font-weight: 300;
}

.image-wrapper {
    width: 90%;
    position: absolute;
    top: 30%;
}

.introduction-wrapper {
    margin: 50px;
}

.profilePic {
    width: 175px;
    height: 175px;
    border-radius: 100%;
}

.jumbotron {
    position: relative;
    height: 100vh;
}