.projectStyles {
    width: 400px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 25px;
    border: black solid 0.1px;
}

.restaurantImg {
    background-image: url('../assets/RealEstate/realestatewebpage479.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 300px;
}

.capstoneImg {
    background-image: url('../assets/Capstone/Capstone_479.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 300px;
}

.portfolioImg {
    background-image: url('../assets/Portfolio/WebPortfolio_479.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 300px;
}